@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
}

.carousel .control-prev.control-arrow::before {
  border-right: 8px solid yellow;
}

/* Add this CSS to your styles */
.circle-counter {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #48cae4; /* Green background color */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  font-size: 2em;
  color: white;
}

.number-counter {
  font-size: 3em;
  font-weight: bold;
}

.reveal-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal-section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Gallery */
.thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.thumbnail {
  width: 250px;
  cursor: pointer;
}

.thumbnail-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.gallery {
  text-align: center;
}

.gallery-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

/* src/app/globals.css */
.gallery-header {
  background-image: url("/gallery.png");
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust the height as needed */
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-header h1 {
  color: white;
  font-size: 4rem; /* Adjust the font size as needed */
  font-weight: bold;
}
